

 <div class="col-sm-2 grid-margin stretch-card">
<button class="btn btn-success btn-block" routerLink='/addBank'>Ajouter une banque
  <i class="mdi mdi-plus"></i>
</button>
</div>
<div class="col-lg-6 grid-margin stretch-card" style="float:left">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Liste des banques</h4>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nom de la banque</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let bank of bankList' [class.selected]="bank === selectedBank">
                <td>{{bank.name}}</td>
                <td class="text-success ">
                   {{bank.email}}
                </td>
                <td>
                 <a (click)="onSelect(bank)"><label class="badge badge-primary" >Modifier</label></a>
                 <a (click)="removeBank(bank._id)"><label class="badge badge-danger" >Supprimer</label></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div style="float:left" class="col-lg-6 grid-margin stretch-card">
    <app-modify-bank [bank]="selectedBank"></app-modify-bank>
</div>