<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Envoyer Email</h4>
        <form class="forms-sample" #sendMailForm="ngForm" (ngSubmit)="sendMail(sendMailForm)"> 
          <div class="form-group">
              <label for="exampleFormControlSelect2">Envoyer mail à </label>
              <select class="form-control" id="exampleFormControlSelect2" name="email" [(ngModel)]="emailSelected" (ngModelChange)="managerChange($event)">
                  <option></option>
                <option *ngFor='let manager of managerList' 
                [ngValue]="manager.email">{{manager.name}} &nbsp;&nbsp;'{{manager.email}}'</option>
              </select>
              
            </div>
          <div class="form-group">  
            <label for="exampleTextarea1">contenu</label>
            <textarea class="form-control" rows="2"  
            [(ngModel)]="manager.content" name="content" #content="ngModel">ce message est automatique</textarea>
            <input class="invisible"name="name" [(ngModel)]="clientFullName" value={{client.first_name}}>
          </div>
          
          <button type="submit" class="btn btn-success mr-2">Envoyer</button>
        </form>
      </div>
    </div>
  </div>